<section>
	<div class="cd-section-content cd-about">
		<div>
			<h1>About Me</h1>
			<p>
				Hi, I'm Yousef Ouda. A Front-end Developer, gamer and fitness enthusiast based in Canada.
			</p>
			<p>
				As an impact driven individual, I always seek to make a difference in the organizations and projects I work with,
				whether it's through my school work or while I was working for IBM Canada.
			</p>
			<p>
				While at IBM, I was a Front-end developer Intern for 16 months and part of the Carbon Angular team<sup>1</sup>.
				I communicated with UI/UX designers to ensure a great user experience, design and content met company needs.
				I also worked with diverse clients all over the world, debugging and fixing bugs, and incorporating Carbon into their applications.
			</p>

			<p>
				After I graduated in 2020, I joined IBM full-time as a front-end developer. Similar to my work as an intern, my responsibilities focus on 
				developing new user-face features, ensuring the technical feasibility of UI/UX design, building reusable code, optimizing load times,
				staying up to date with new technology trends and much more. 
			</p>

			<h1>My Skills</h1>
			<div class="skills">
				<table class="column">
					<tr><td class="skill">React </td><td class="rating"><span class="no-fill"><span class="fill-5"></span></span></td></tr>
					<tr><td class="skill">Angular4+ </td><td class="rating"><span class="no-fill"><span class="fill-5"></span></span></td></tr>
					<tr><td class="skill">Typescript</td><td class="rating"><span class="no-fill"><span class="fill-5"></span></span></td></tr>
					<tr><td class="skill">Javascript</td><td class="rating"><span class="no-fill"><span class="fill-5"></span></span></td></tr>
					<tr><td class="skill">HTML</td><td class="rating"><span class="no-fill"><span class="fill-5"></span></span></td></tr>
					<tr><td class="skill">SASS / SCSS</td><td class="rating"><span class="no-fill"><span class="fill-5"></span></span></td></tr>
					<tr><td class="skill">CSS</td><td class="rating"><span class="no-fill"><span class="fill-5"></span></span></td></tr>
					<tr><td class="skill">Git</td><td class="rating"><span class="no-fill"><span class="fill-5"></span></span></td></tr>
					<tr><td class="skill">JSON </td><td class="rating"><span class="no-fill"><span class="fill-5"></span></span></td></tr>
					<tr><td class="skill">Scrum  </td><td class="rating"><span class="no-fill"><span class="fill-4"></span></span></td></tr>
					<tr><td class="skill">MVC Pattern </td><td class="rating"><span class="no-fill"><span class="fill-3"></span></span></td></tr>
					<tr><td class="skill">EmberJS</td><td class="rating"><span class="no-fill"><span class="fill-3"></span></span></td></tr>
				</table>

				<table class="column">
					<tr><td class="skill">JQuery</td><td class="rating"><span class="no-fill"><span class="fill-3"></span></span></td></tr>
					<tr><td class="skill">Object Orientated Programming</td><td class="rating"><span class="no-fill"><span class="fill-3"></span></span></td></tr>
					<tr><td class="skill">MySQL</td><td class="rating"><span class="no-fill"><span class="fill-3"></span></span></td></tr>
					<tr><td class="skill">UML</td><td class="rating"><span class="no-fill"><span class="fill-3"></span></span></td></tr>
					<tr><td class="skill">C#</td><td class="rating"><span class="no-fill"><span class="fill-3"></span></span></td></tr>
					<tr><td class="skill">Node</td><td class="rating"><span class="no-fill"><span class="fill-3"></span></span></td></tr>
					<tr><td class="skill">Java</td><td class="rating"><span class="no-fill"><span class="fill-2"></span></span></td></tr>
					<tr><td class="skill">C++</td><td class="rating"><span class="no-fill"><span class="fill-2"></span></span></td></tr>
				</table>
			</div>

			<footer>
				<ol>
					<li>
						Carbon is IBM’s open-source design system for digital products.
						With the IBM Design Language as its foundation, the system consists of working code, design tools and resources, human interface guidelines, and a vibrant community of contributors.
					</li>
				</ol>
			</footer>
		</div>
	</div>
</section>


