// colors

$color-1: #9F9F9F; // Main Text - Silver Chalice
$color-2: #2D60D5; // Anchor Tags - Mariner
$color-3: #ffffff; // White
$color-4: #151515; // Cod Gray
$color-5: rgb(129, 141, 152);
$color-6: rgb(48, 63, 74);
$color-7: rgb(216, 229, 238);
$color-8: rgb(240, 203, 71);
$color-9: rgb(191, 59, 68);
$color-10: rgb(117, 205, 101);
$color-11: rgb(230, 238, 244);

$color-12: #2b3e51; // Pickled Bluewood
$color-13: #2c97de; // Curious Blue
$color-14: #ecf0f1; // Porcelain
$color-15: #e94b35; // Cinnabar

$color-16: #2b334f; // Pickled Bluewood
$color-17: #2e5367; // San Juan
$color-18: #267481; // Lochinvar
$color-19: #fcb052; // Texas Rose
$color-20: #f06a59; // Burnt Sienna

// fonts

$primary-font: 'Roboto', sans-serif;
