<section class="cd-timeline js-cd-timeline">
	<header class="cd-main-header text-center flex flex-column flex-center">
		<h1>My Projects</h1>
	</header>
	<div class="container max-width-lg cd-timeline__container">
		<div #block class="cd-timeline__block">
			<div #img class="cd-timeline__img cd-timeline__img--picture">
				<img src="../../../assets/img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline__img -->

			<div #content class="cd-timeline__content text-component">
				<img class="cd-project-image" src="../../../assets/img/nasa-collections.png" alt="Project Preview">
				<h2>Nasa Collections</h2>
				<p class="color-contrast-medium">A web application using server-side and client-side scripting to
					display images from NASA with the ability to search based on a given phrase, create image
					collections, and share those images with others. Developed a client application using a ReSTfull web
					API and incorporate 3rd party services and implemented an authentication protocol and provided
					different levels of functionality to authenticated vs. unauthenticated users. <br> Created using
					Angular 4, Node.js and MongoDB.
				</p>

				<div class="flex justify-between items-center">
					<span class="cd-timeline__date">December 2017</span>
					<a href="https://github.com/youda97/NasaWebpage/tree/master/NasaCollections"
						class="btn btn--subtle">Read more</a>
				</div>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->

		<div #block class="cd-timeline__block">
			<div #img class="cd-timeline__img cd-timeline__img--picture">
				<img src="../../../assets/img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline__img -->

			<div #content class="cd-timeline__content text-component">
				<img class="cd-project-image" src="../../../assets/img/storkdb.png" alt="Project Preview">
				<h2>Stork DB</h2>
				<p class="color-contrast-medium">A dynamic directory for bird watchers, enabling the user to track and
					monitor their progress and activity. Made use of information systems and data management tools like
					SQL.</p>

				<div class="flex justify-between items-center">
					<span class="cd-timeline__date">December 2017</span>
					<a href="https://github.com/youda97/StorkDB/tree/master/Assignment4" class="btn btn--subtle">Read
						more</a>
				</div>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->

		<div #block class="cd-timeline__block">
			<div #img class="cd-timeline__img cd-timeline__img--movie">
				<img src="../../../assets/img/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline__img -->

			<div #content class="cd-timeline__content text-component">
				<img class="cd-project-image" src="assets/img/self-start.png" alt="Project Preview">
				<h2>Self-Start Body Smart</h2>
				<p class="color-contrast-medium">An online application that brings the treatment of a physiotherapist
					into the client's home and improve the traditional approach of the patient’s progression assessment.
					The app was built with Ember.js for the frontend and Node.js/Express.js connecting with MongoDB for
					the backend.</p>

				<div class="flex justify-between items-center">
					<span class="cd-timeline__date">April 2018</span>
					<a href="https://github.com/UWO-ECE-Software-Engineering/Brigade" class="btn btn--subtle">Read
						more</a>
				</div>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->

		<div #block class="cd-timeline__block">
			<div #img class="cd-timeline__img cd-timeline__img--location">
				<img src="../../../assets/img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline__img -->

			<div #content class="cd-timeline__content text-component">
				<img class="cd-project-image" src="assets/img/carbon-components-angular.png" alt="Project Preview">
				<h2>Carbon Components Angular</h2>
				<p class="color-contrast-medium">A library that provides front-end developers & engineers a collection
					of reusable Angular components to build websites and user interfaces. Adopting the library enables
					developers to use consistent markup, styles, and behavior in prototype and production work.</p>

				<div class="flex justify-between items-center">
					<span class="cd-timeline__date">Sept 2018</span>
					<a href="https://github.com/IBM/carbon-components-angular" class="btn btn--subtle">Read more</a>
					<a href="https://angular.carbondesignsystem.com/?path=/story/*" class="btn btn--subtle">Demo</a>
				</div>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->

		<div #block class="cd-timeline__block">
			<div #img class="cd-timeline__img cd-timeline__img--location">
				<img src="../../../assets/img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline__img -->

			<div #content class="cd-timeline__content text-component">
				<img class="cd-project-image" src="assets/img/carbon-angular-starter.png" alt="Project Preview">
				<h2>Carbon Angular Starter</h2>
				<p class="color-contrast-medium">A simple starter app for boostraping with Carbon Components Angular.
					The boilerplate already as all the dependecies installed and is ready for you to start developing
					your app.</p>

				<div class="flex justify-between items-center">
					<span class="cd-timeline__date">January 2019</span>
					<a href="https://github.com/carbon-design-system/carbon-angular-starter"
						class="btn btn--subtle">Read more</a>
					<a href="https://carbon-angular-starter.netlify.com/" class="btn btn--subtle">Demo</a>
				</div>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->

		<div #block class="cd-timeline__block">
			<div #img class="cd-timeline__img cd-timeline__img--location">
				<img src="../../../assets/img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline__img -->

			<div #content class="cd-timeline__content text-component">
				<img class="cd-project-image" src="assets/img/carbon-tutorial-angular.png" alt="Project Preview">
				<h2>Carbon Tutorial Angular</h2>
				<p class="color-contrast-medium">A tutorial that guides the user in creating an Angular app using Carbon
					Components. It tutorial step illustrates a differe t aspect of developing web applications and
					introduces best practices.</p>

				<div class="flex justify-between items-center">
					<span class="cd-timeline__date">August 2019</span>
				</div>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->
	</div>
</section> <!-- cd-timeline -->
