<footer>
	<section>
		<div class="contactWrapper">
			<div id="contact">
				<article>
					<div class="article artc1">
						<h2>Get in touch</h2>
						<p>
							Got a project you would like me to work on? Interested in what you see and want to hire me? Or how about just a friendly chat? Send me an email and we can grab coffee.
						</p>
					</div>
				</article>
				<article>
					<div class="article artc2">
						<h2>Networks</h2>
						<p>Give me a follow on these sites</p>
						<div class="social">
							<a href="https://www.facebook.com/yousef.ouda.31" target="_blank" class="facebook_button w-button"></a>
							<a href="https://www.linkedin.com/in/yousef-ouda/" target="_blank" class="linkedin_button w-button"></a>
							<a href="https://www.instagram.com/y_ouda97" target="_blank" class="instagram_button w-button"></a>
							<a href="https://www.snapchat.com/add/ouda.y" target="_blank" class="snapshat_button w-button"></a>
						</div>
					</div>
				</article>
				<div class="clear"></div>
			</div>
        </div>
	</section>
	<div class="footer">Copyright © 2019 Yousef Ouda - made in Canada.<br>
		<span style="font-size:0.6em;">Angular8 | Typescript | HTML | SCSS | Git</span>
	</div>
</footer>
