@import "assets/scss/variables"; // colors, fonts etc...

@import "assets/scss/layout"; // responsive grid and media queries

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: $primary-font;
	color: $color-1;
	background-color: $color-3;

	&::before {
		/* never visible - this is used in projects component to check the current MQ */
		content: 'mobile';
		display: none;
	}

	@include MQ(L) {

		&::before {
			/* never visible - this is used in projects component to check the current MQ */
			content: 'desktop';
		}
	}
}

a {
	color: $color-2;
	text-decoration: none;
}

img, video, svg {
	max-width: 100%;
}
