@import "assets/scss/variables"; // colors, fonts etc...

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: $primary-font;
	color: $color-1;
	background-color: $color-3;
}

a {
	color: $color-2;
	text-decoration: none;
}

img, video, svg {
	max-width: 100%;
}
