<div #immersiveVideoWrapper class="cd-immersive-video">
	<div *ngIf="videoDone" class="background"></div>
	<div class="intro-wrapper">
		<div #productIntro class="product-intro">
			<div>
				<h1 class="item item-1">Yousef Ouda</h1>
				<p class="item item-2">A Web Developer based in Canada. I have a bachelor's degree from Western University in software engineering and have good knowledge of front-end techniques. I love structure and order and also stand for quality.</p>
				<a href="mailto:ouda.yousef@gmail.com?subject=Website%20Inquiry" class="cd-btn item item-3">Say Hello!</a>
				<app-navigation></app-navigation>
			</div>
		</div> <!-- .product-intro -->

		<div
			#productPreview
			[@onPreviewStateChange]="currentPreviewState"
			(@onPreviewStateChange.done)="onPreviewDone()"
			class="product-preview no-transition">
			<div class="device-frame">
				<img src="assets/img/mobile-frame.svg" alt="Device Frame">
			</div>

			<div class="product-image">
				<img src="assets/img/video-fallback.jpg" alt="Product Preview">
			</div>

			<div #productVideo class="product-video">
				<div #productVideoWrapper class="video-wrapper">
					<video (canplay)="canPlay()">
						<source src="assets/video/video.mp4" type="video/mp4" />
						Sorry, your browser does not support HTML5 video.
					</video>
				</div>
			</div>
		</div> <!-- .product-preview -->
	</div>

	<div
		#loader
		[@onLoadingStateChange]="currentLoadingState"
		(@onLoadingStateChange.done)="onLoadingDone()"
		class="cd-loader">
	</div>
</div> <!-- .cd-immersive-video -->
